<div class="recurrence-form">
  <label for="recurrencePattern">Recurrence Pattern</label>
  <select
    [(ngModel)]="pattern"
    (change)="onPatternChange($any($event.target).value)"
  >
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="monthly">Monthly</option>
  </select>

  <label for="timeInput">Time</label>
  <input
    type="time"
    id="timeInput"
    [(ngModel)]="time"
    (change)="onTimeChange($any($event.target).value)"
    class="form-control"
  />

  <div *ngIf="pattern === 'weekly'">
    <label for="daysOfWeek" class="weeks-label">Days of Week</label>
    <div class="weeks-conatiner">
      <div *ngFor="let day of weekdays">
        <input
          type="checkbox"
          [id]="day"
          [checked]="selectedDays[day]"
          (change)="toggleDay(day)"
        />
        <label [for]="day">{{ day | titlecase }}</label>
      </div>
    </div>
  </div>

  <div *ngIf="pattern === 'monthly'" class="month-conatiner">
    <label for="dayOfMonth">Day of Month</label>
    <select
      [(ngModel)]="date"
      (change)="onDateChange($any($event.target).value)"
    >
      <option
        *ngFor="let d of [].constructor(31); let i = index"
        [value]="i + 1"
      >
        {{ i + 1 }}
      </option>
    </select>
  </div>

  <div class="description">
    <h4>Generated Description:</h4>
    <p>{{ description }}</p>
  </div>
</div>
